
<div class="main-header">
	<!-- get the navbar from views/shared -->
	<%= render "shared/navbar" %>

	<div class="banner container-fluid">
		<!-- <%= image_tag "aluminatibanner.jpg" %> -->
		<div class="banner-title">
			<h1>Stax</h1>
		</div>
	</div>
</div>

<div class="dashboard">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">

			</div>
			<div class="col-sm-6">

			</div>
		</div>
	</div>
</div>